{% load rest_framework %}
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/board/css/board.css">
    </head>

<body>

    <h1>Tasks</h1>
    <ul>
        {% for task in tasks %}
        <li>{{ task.title }}</li>
        <a href="{% url 'task_detail' pk=task.id %}">
            <button class="edit_button" type="button" value="Edit">
                Edit
            </button>
        </a>
        <!-- <input type="hidden" name="task_id" value="{{task.id}}"> -->
        <button class="delete_button" type="button" value="{{task.id}}">Delete</button>
        {% endfor %}
    </ul>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/board/js/board.js"></script>

</body>

</html>
