{% load rest_framework %}
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/board/css/task.css">
    </head>

<body>

    <h1>Task - {{ task.title }}</h1>
    <form id="task_form" title={{request.user}} action={{api_location}} method="">
        {% render_form serializer template_pack='rest_framework/vertical' %}
        <input type="submit" value="Save">
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/board/js/task.js"></script>
</body>

</html>

{% comment %}
<form id="task_form" action="" method="post">
    <legend>Edit this task</legend>
    <label for="">Title</label>
    <input type="text" name="title" value="{{task.title}}">
    <br />
    <label for="">Status</label>
    <input type="text" name="status" value="{{task.status}}">
    <br />
    <label for="">Priority</label>
    <input type="text" name="priority" value="{{task.priority}}">
    <br />
    <label for="">Description</label>
    <input type="text" name="description" value="{{task.description}}">
    <br />
    <input type="submit" value="Submit Changes">
</form>
{% endcomment %}
